<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="page_block_html_topmenu_gethtml_before">
        <observer name="blog_topmenu_observer" instance="Magenest\Blog\Observer\TopMenuObserver"/>
        <observer name="blog_countdown_observer" instance="Magenest\Blog\Observer\PostCountdownObserver"/>
    </event>
    <event name="blog_page_render">
        <observer name="blog_count_visits" instance="Magenest\Blog\Observer\CountVisitsObserver"/>
    </event>
</config>


