.prettylink {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 1.2em;
    margin: 10px 0;
    padding: 10px 10px 10px 35px;
    position: relative;
    text-decoration: none;
    zoom: 1;
}

ul.unstyled {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}

.map_list-location h3{
    color: #990000 !important;
    font-weight: bold;
    font-size: large;
}

#map {
    width:60% !important;
    height:500px;
    padding-top: 10px;
    float: left;
}
#right-panel {
    width:35%;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    height:550px;
    float: right;
    overflow: auto;
}

.prettyListItems {
    min-height: 150px;
}

.infoWindowContainer .infoWindow h3, .prettyMapList .corePrettyStyle {
    border-radius: 5px;
    text-shadow: 0px 2px 0px #fff;
    border: solid 1px #ccc;
    color: #555;
}

.prettyMapList .corePrettyStyle {
    /* background: #ffffff; */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px 2px 0px #fff;
    border: solid 1px #ccc;
    color: #555;
}

.prettyMapList .corePrettyStyle a {
    color: red;
    font-weight: bold;
}
