<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <tab id="magenest" translate="label" sortOrder="200">
            <label>Magenest</label>
        </tab>

        <section id="parttime" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Part Time</label>
            <tab>magenest</tab>
            <resource>Magenest_Movie::config_parttime</resource>
            <group id="parttimepage" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Part Time</label>
                <field id="name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>part_time</label>
                </field>
            </group>
        </section>
    </system>
</config>