<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="post_prepare_save">
        <observer name="blog_post_countdown_observer" instance="Magenest\Blog\Observer\PostCountdownObserver"/>
    </event>
</config>


