<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_Blog::blog" title="Blog" module="Magenest_Blog" sortOrder="50" resource="Magenest_Blog::blog" />
        <add id="Magenest_Blog::blog_post" title="List Posts" module="Magenest_Blog" sortOrder="10" resource="Magenest_Blog::blog_post" parent="Magenest_Blog::blog" action="blog/post" />
        <add id="Magenest_Blog::blog_category" title="Categories" module="Magenest_Blog" sortOrder="20" resource="Magenest_Blog::blog_category" parent="Magenest_Blog::blog" action="blog/category" />
        <add id="Magenest_Blog::blog_author" title="Authors" module="Magenest_Blog" sortOrder="30" resource="Magenest_Blog::blog_author" parent="Magenest_Blog::blog" action="blog/author" />
        <add id="Magenest_Blog::blog_settings" title="Settings" module="Magenest_Blog" sortOrder="40" resource="Magenest_Blog::blog_settings" parent="Magenest_Blog::blog" action="adminhtml/system_config/edit/section/blog" />
    </menu>
</config>