<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_ShippingBar::shippingbar"
             title="Shipping Bar"
             module="Magenest_ShippingBar"
             action="adminhtml/system_config/edit/section/shippingstore/"
             sortOrder="60"
             resource="Magento_Backend::content"/>
    </menu>
</config>