<?xml    version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/sy
stem_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="500">
            <label>Magenest</label>
        </tab>
        <section id="shippingstore" translate="label" type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Free Shipping Bar</label>
            <tab>magenest</tab>
            <resource>Magenest_ShippingBar::config_shippingbar</resource>
            <group id="shippingpage" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable Shipping Bar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shippingtype" translate="label" type="select"
                       sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Shipping Type</label>
                    <source_model>Magenest\ShippingBar\Model\Config\Source\Products</source_model>
                </field>
                <field id="shipping_goal" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Free Shipping Goal</label>
                    <comment>Goal Price of products/Goal Quantity of products</comment>
                    <validate>required-entry validate-greater-than-zero validate-number</validate>
                </field>
                <field id="shipping_group" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Select group customer</label>
                    <source_model>Magenest\ShippingBar\Model\Config\Source\GroupCustomer</source_model>
                    <comment>Free shipping will be applied to each selected group customer</comment>
                </field>
            </group>

            <group id="wheretodisplay" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Where to Display</label>
                <field id="page_display" translate="label" type="select"
                       sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pages</label>
                    <frontend_model>Magenest\ShippingBar\Block\Config\Pages</frontend_model>
                </field>
            </group>

            <group id="content" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Content</label>
                <field id="cart_empty" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Content when cart is empty</label>
                </field>
                <field id="cart_not_empty" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Content when cart is not empty</label>
                </field>
                <field id="cart_goal" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Content when goal is reached</label>
                    <comment>{{ruleGoal}} - return value of the Goal in current currency with currency code.
                        {{ruleGoalLeft}} - returns value left to reach the Goal.(Left = Goal - CartTotal)
                    </comment>
                </field>
            </group>

            <group id="design" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Design</label>
                <field id="shipping_bar" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="4">
                    <frontend_model>Magenest\ShippingBar\Block\Config\ShippingBar</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>
                <field id="font_family" translate="label" type="select"
                       sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Family</label>
                    <source_model>Magenest\ShippingBar\Model\Config\Source\FontFamily</source_model>
                    <comment>Most popular Google Fonts are used.</comment>
                    <frontend_model>Magenest\ShippingBar\Block\Config\FontFamily</frontend_model>
                </field>
                <field id="font_size" translate="label" type="text"
                       sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Size (px)</label>
                    <frontend_model>Magenest\ShippingBar\Block\Config\FontSize</frontend_model>
                </field>
                <field id="font_weight" translate="label" type="select"
                       sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Weight</label>
                    <source_model>Magenest\ShippingBar\Model\Config\Source\FontWeight</source_model>
                    <frontend_model>Magenest\ShippingBar\Block\Config\FontWeight</frontend_model>
                </field>
                <field id="text_align" translate="label" type="select"
                       sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Align</label>
                    <source_model>Magenest\ShippingBar\Model\Config\Source\TextAlign</source_model>
                    <frontend_model>Magenest\ShippingBar\Block\Config\TextAlign</frontend_model>
                </field>
                <field id="font_color" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Font Color</label>
                    <frontend_model>Magenest\ShippingBar\Block\Config\FontColor</frontend_model>
                </field>
                <field id="background_color" translate="label" type="text" sortOrder="23" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <frontend_model>Magenest\ShippingBar\Block\Config\BackgroundColor</frontend_model>
                </field>
                <field id="alow_close" translate="label" type="select"
                       sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Alow to close</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <frontend_model>Magenest\ShippingBar\Block\Config\AlowClose</frontend_model>
                </field>
                <field id="page_delay" translate="label" type="text" sortOrder="28" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Display with delay after page load, seconds</label>
                    <comment>0 - no delay</comment>
                </field>
                <field id="display_type" translate="label" type="select"
                       sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Type</label>
                    <source_model>Magenest\ShippingBar\Model\Config\Source\DisplayType</source_model>
                    <frontend_model>Magenest\ShippingBar\Block\Config\DisplayType</frontend_model>
                </field>
                <field id="auto_hide" translate="label" type="text"
                       sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto-hide after, seconds</label>
                    <comment>0 - no hide</comment>
                </field>
            </group>

            <group id="schedule_date" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display schedule by date</label>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <!-- date picker field code start-->
                <field id="start_date" translate="label comment" sortOrder="21" type="text" showInDefault="1"
                       showInStore="1">
                    <label>Start Date</label>
                    <!-- here we pass class where we create date picker-->
                    <frontend_model>Magenest\ShippingBar\Block\Config\DatePicker</frontend_model>
                </field>
                <!-- date picker field code end-->
                <field id="end_date" translate="label comment" sortOrder="22" type="text" showInDefault="1"
                       showInStore="1">
                    <label>End Date</label>
                    <!-- here we pass class where we create date picker-->
                    <frontend_model>Magenest\ShippingBar\Block\Config\DatePicker</frontend_model>
                </field>
            </group>

            <group id="schedule_week" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display schedule by week</label>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="day_of_week" translate="label" sortOrder="350" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Day Of Week</label>
                    <frontend_model>Magenest\ShippingBar\Block\Config\DayOfWeek</frontend_model>
                </field>

            </group>

            <group id="schedule_day" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Display schedule by day</label>

                <field id="enabled" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="start_time" translate="label comment" sortOrder="4" type="time" showInDefault="1"
                       showInStore="1">
                    <label>Start time</label>

                </field>

                <field id="end_time" translate="label comment" sortOrder="5" type="time" showInDefault="1"
                       showInStore="1">
                    <label>End time</label>
                </field>

            </group>
        </section>

    </system>
</config>
