<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add
                id="Magenest_Manufacturer::manufacturer"
                title="Manufacturer"
                module="Magenest_Manufacturer"
                sortOrder="40"
                action="manufacturer/manufacturer"
                resource="Magenest_Manufacturer::manufacturer"
        />

    </menu>
</config>