<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/ccl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magenest_Migrate::migrate" sortOrder="99" title="Magenest">
                        <resource id="Magenest_Migrate::index" sortOrder="90" title="Migrate"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>