<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add
                id="Magenest_Sales::sales"
                title="Sales"
                module="Magenest_Sales"
                sortOrder="40"
                action="sales/sales"
                resource="Magenest_Sales::sales"
        />

    </menu>
</config>